# Aiting Lee
Aiting <aile@itu.dk> <87257634+AitingLee@users.noreply.github.com>
Aiting <aile@itu.dk> <michelle723@gmail.com>
Aiting <aile@itu.dk> <aile@itu.dk>

# Amanda
Amanda <amli@itu.dk> <amanda.lima.cunha@alumni.usp.br>

# Elias Poggi
Elias <elpo@itu.dk> <237402327+eliappo@users.noreply.github.com>
Elias <elpo@itu.dk> <elias.illeris@pm.me>
Elias <elpo@itu.dk> eliappo

# Johannes Hackl
Johannes <jhac@itu.dk> Johannes Alexander Hackl
Johannes <jhac@itu.dk> Johannes Hackl
Johannes <jhac@itu.dk> JohannesHackl
Johannes <jhac@itu.dk> <131956206+JohannesHackl@users.noreply.github.com>
Johannes <jhac@itu.dk> <johannes.hackl@live.com>

# Jakub
Jakub <jgaj@itu.dk> <45341106+Jakub1996PL@users.noreply.github.com>
Jakub <jgaj@itu.dk> <jgaj@itu.dk>

# Bots
LLM <none> <copilot@github.com>
LLM <none> Gemini 3
Github-Action-Bot <none> <github-actions[bot]@users.noreply.github.com>